* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 15px;        
  }
  
body::-webkit-scrollbar-track {
    background: rgb(16, 16, 16);
}
  
body::-webkit-scrollbar-thumb {
    background-color: rgba(237, 237, 237, 0.147);
    border-radius: 10px;
    border: 1px solid rgb(222, 222, 222); 
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    background: #1B1B1B;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

/* ****************** Background Inicio ******************** */

.background {
    height: 46rem;
    width: 100%;
    background: url('../assets/img/inicio-portada.jpg') center/cover;
    display: flex;   
    justify-content: center; 
    align-items: flex-end;
}
.background__img {
    z-index: 1;
    width: 31.25rem;
    margin-bottom: 2rem;
}

/* ************************* HEADER ************************* */

.header {
    height: 4rem;
    position: sticky;
    background: #1B1B1B;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    top: 0px;
    width: 100%;
    z-index: 1;
    display: flex;
}
/* -------------------- header logo parte 1-------------------- */
.header__logo {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}
.header__img--logo {
    width: 2.75rem;
    margin-left: 1.25rem;
}
/* -------------------- header menu parte 2-------------------- */
.header__nav {
    width: 50%;
    height: 100%;
}
.header__ul {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    margin-right: 0.6rem;
    list-style: none;
}
.header__li {
    margin-right: 1.25rem;
}
.header__a {    
    color: #ffffff;
    opacity: 0.8;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 400;
    transition: 0.3s all;
}
.header__a:hover {
    opacity: 1;
}
.header__a--active {
    color: #e2844e;
    opacity: 1;
}

/* ************************ PAGINA INICIO ************************* */

.main__inicio {
    height: 120rem;
    display: flex;
    flex-wrap: wrap;
    width: 94%;
    position: relative;
    left: 3%;
}
/* --------------- Sección Design interior & exterior ------------- */
.inicio__secDesign {
    height: 50%;
    width: 50%;
}
.inicio__title--secDesign {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.inicio__h2--secDesign {
    font-size: 3rem;
    color: #ffffff;
    font-weight: 800;
}
.inicio__text--secDesign {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inicio__p--secDesign {
    text-align: center;
    width: 70%;
    font-weight: 300;
    position: relative;
    left: 1.85rem;
}
.inicio__reserva {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.inicio__btn--reserva {
    width: 400px;
    border-radius: 0.95rem;
    background-color: #b87b56;
    height: 3.2rem;
    border: 0px;
    font-size: 17px;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;
    transition: 0.2s all ;
}
.inicio__btn--reserva:hover {
    background-color: #c27649;
}
/* ----------------- Seccion Imágenes Interiores ------------------ */
.inicio__secInterior {
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.inicio__img--secInterior {
    width: 35rem;
    height: 47rem;
    border-radius: 2rem;
    mix-blend-mode: lighten;
}
.inicio__img1--secInterior {
    position: relative;
    top: 6.25rem;
    right: 1.85rem;
}
.inicio__img2--secInterior {
    position: absolute;
    right: 12.5rem;
    top: 12.5rem;
}
/* ----------------- Seccion Imágenes Exteriores ------------------ */
.inicio__secExterior {
    height: 50%;
    width: 50%;
    display: flex;
    align-items: flex-end;
}
.inicio__img--secExterior {
    width: 35rem;
    height: 47rem;
    border-radius: 2rem;
    mix-blend-mode: lighten;
}
.inicio__img1--secExterior {
    position: relative;
    bottom: 6.25rem;
    left: 1.85rem;
}
.inicio__img2--secExterior {
    left: 12.5rem;
    position: absolute;
    bottom: 11.25rem;
}
/* ----------------------- Seccion Nosotros ------------------------ */
.inicio__secNosotros {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.inicio__title--secNosotros {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    left: 2.5rem;
}
.inicio__h2--secNosotros {
    font-size: 3rem;
    color: #ffffff;
    font-weight: 800;
}
.inicio__whats {
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inicio__btn--whats {
    width: 25rem;
    border-radius: 1rem;
    background-color: #68824b;
    height: 3.2rem;
    border: 0px;
    font-size: 17px;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;
    transition: 0.2s all ;
}
.inicio__btn--whats:hover {
    background-color: #577435;
}
.inicio__text--secNosotros {
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inicio__p--secNosotros {
    text-align: center;
    width: 70%;
    font-weight: 300;
}
.inicio__ayuda {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 1.85rem;
}
.inicio__btn--ayuda {
    width: 25rem;
    border-radius: 1rem;
    background-color: #1B1B1B;
    border: 2px solid #84BBB1;
    height: 3.2rem;
    font-size: 17px;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;
    transition: 0.2s all ;
    opacity: 0.9;
}
.inicio__btn--ayuda:hover {
    opacity: 1;
}

/* ************************* PAGINA RESERVAR ************************** */

.main__reservar {
    height: 70rem;
    position: relative;
    left: 3%;
    width: 94%;
    display: flex;
}
/* ------------------------- Seccion Reservar form */

.reservar__secReserva {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reservar__h2 {
    font-size: 3rem;
    color: #ffffff;
    font-weight: 800;
    margin: 0.6rem;
}
/* ----------------formulario para reservar ------------------ */
.reservar__form {
    width: 40rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reservar__entrada {
    height: 20%;
}
.reservar__input {
    width: 18rem;
    height: 3rem;
    position: relative;
    left: 0.6rem;
    border: 0;
    border-radius: 1.5rem;
    margin-top: 1.25rem;
    text-align: center;
    font-size: 16px;
    opacity: 0.9;
}
.reservar__input:hover {
    opacity: 1;
}
.reservar__salida {
    height: 20%;
}
.reservar__personas {
    height: 20%;
}
.reservar__tarifa {
    display: flex;
    align-items: center;
    height: 20%;
}
.reservar__tarifa--uno {
    display: flex;
}
.reservar__p {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}
.reservar__tarifa--dos {
    display: flex;
    justify-self: flex-end;
}
/* -------------------- botones reutilizacion -------------------- */
.reservar__button {
    margin-top: 1.85rem;
    width: 22rem;
    height: 3.25rem;
    font-size: 15px;
    cursor: pointer;
    border: 0;
    border-radius: 1.5rem;
    opacity: 0.9;
    transition: 0.3s all;
}
.reservar__button:hover {
    opacity: 1;
}
.reservar__button--reser {
    background-color: #BF7B5E;
    color: white;
}
.reservar__button--whats {
    background-color: #1B1B1B;
    color: #ABCD90;
}
.reservar__button--complejo {
    border: 2px solid #BF7B5E;
    color: white;
    background-color: #1B1B1B;
}
/* --------------link que lleva a preguntas frecuentes --------------*/
.reservar__a--preguntas {
    color: white;
    text-underline-position: under;
    opacity: 0.9;
}
.reservar__a--preguntas:hover {
    opacity: 1;
}
/* ----------------- Seccion Portada con imagen ---------------------- */
.reservar__secPortada {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.reservar__img {
    width: 40rem;
    height: 55rem;
    border-radius: 6.25rem 0px;
    mix-blend-mode: lighten;
}

/* ************************ PAGINA SERVICIOS ************************** */

.main__servicios {
    height: 75rem;
    width: 94%;
    left: 3%;
}

.servicios__div {
    height: 12%;
    justify-content: center;
    display: flex;
    align-items: flex-end;
}
.servicios__h2 {
    font-size: 3rem;
    color: #ffffff;
    font-weight: 800;
}

.servicios__secciones {
    width: 100%;
    height: 88%;
    display: flex;
}
.servicios__sectionText {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.servicios__p {
    width: 70%;
    margin: 1.25rem;
    text-align: center;
}

.servicios__sectionFotos {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}
.servicios__img {
    mix-blend-mode: lighten;
    position: absolute;
    border-radius: 2rem;
}
.servicios__img--uno {
    width: 20rem;
    height: 30rem;
    top: 34.3rem;
    right: 31.25rem;
}
.servicios__img--dos {
    width: 33.5rem;
    height: 22rem;
    top: 15.6rem; 
    right: 6.25rem;
}
.servicios__img--tres {
    width: 28rem;
    height: 42rem;
    right: 9.3rem;
    top: 31.25rem;
}

/* ************************* PAGINA AYUDA *************************** */

.main__ayuda {
    height: 100rem;
    display: flex;
    width: 94%;
    position: relative;
    left: 3%;
    flex-wrap: wrap;
}
/* ----------------------Seccion Portada -------------------------- */
.ayuda__sectionPortada {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
}
.ayuda__img {
    width: 54rem;
    height: 36rem;
    border-radius: 0px 6.25rem;
    mix-blend-mode: lighten;
    position: relative;
    left: 1.85rem;
}
.ayuda__sectionContacto {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ayuda__form {
    display: flex;
    width: 25rem;
    height: 37.5rem;
    justify-content: center;
    flex-direction: column;
}
.ayuda__label {
    margin-top: 1.25rem;
}
.ayuda__input {
    margin-top: 0.3rem;
    height: 3.25rem;
    border: 0;
    border-radius: 1.5rem;
    text-align: center;
    font-size: 15px;
    opacity: 0.9;
}
.ayuda__input:focus {
    opacity: 1;
}
.ayuda__textarea {
    height: 10rem;
    margin-top: 0.3rem;
    border-radius: 1.5rem;
    resize: none;
    border: none;
    font-size: 15px;
    text-align: center;
    opacity: 0.9;
}
.ayuda__textarea:focus {
    opacity: 1;
}
.ayuda__button {
    height: 3.25rem;
    border: 0;
    font-size: 15px;
    border-radius: 1.5rem;
    margin-top: 2.5rem;
    cursor: pointer;
    background-color: #DA9D56;
    font-weight: 600;
    opacity: 0.9;
    transition: 0.3s all;
}
/* ------------------ Seccion Preguntas frecuentes ------------- */
.sectionPreguntas {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ayuda__h2 {
    font-size: 40px;
    color: #ffffff;
    font-weight: 800;
    text-align: center;
    margin-bottom: 1.5rem;
}
.ayuda__p {
    width: 70%;
    position: relative;
    left: 15%;
    margin: 0.4rem;
    text-align: center;
}

/* *********************** PAGINA INICIAR SESION ************************/

.main__iniciarse {
    display: flex;
    height: 55rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.iniciarse__h2 {
    font-size: 48px;
    color: #ffffff;
    font-weight: 800;
    margin: 0.625rem;
}
.iniciarse__form {
    display: flex;
    flex-direction: column;
}
.iniciarse__label {
    text-align: center;
    margin-top: 1.25rem;
    font-weight: 400;
    font-size: 17px;
}
.iniciarse__input {
    width: 22rem;
    height: 3.25rem;
    border: 0;
    border-radius: 1.5rem;
    margin-top: 1.25rem;
    text-align: center;
    opacity: 0.9;
}
.iniciarse__input:focus {
    opacity: 1;
}
.iniciarse__a--form {
    font-size: 14px;
    color: white;
    text-decoration: none;
    margin-top: 0.8rem;
}
.iniciarse__a--form:hover {
    text-decoration: underline;
    text-underline-position: under;
}
.iniciarse__button--form {
    width: 22rem;
    height: 3.25rem;
    border: 0;
    font-size: 15px;
    border-radius: 1.5rem;
    margin-top: 2.5rem;
    cursor: pointer;
    background-color: #DA9D56;
    font-weight: 600;
    opacity: 0.9;
    transition: 0.3s all;
}
.iniciarse__button--form:hover {
    opacity: 1;
}
.iniciarse__p {
    margin-top: 1.25rem;
    font-weight: 300;
}
.iniciarse__button {
    margin-top: 30px;
    width: 22rem;
    height: 3.25rem;
    font-size: 14px;
    cursor: pointer;
    border: 0;
    border-radius: 1.5rem;
    opacity: 0.9;
    color: white;
    transition: 0.3s all;
}
.iniciarse__button:hover {
    opacity: 1;
}
.iniciarse__button--registro {
    background-color: #1B1B1B;
    border: 2px solid #DA9D56;
}
.iniciarse__button--facebook {
    background-color: #1B1B1B;
    border: 2px solid #5683DA;
}
.iniciarse__button--google {
    background-color: #1B1B1B;
    border: 2px solid #C7B9B9;
}

/* *********************** PAGINA REGISTRARSE ************************/

.main__registrarse {
    display: flex;
    height: 60rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.registrarse__h2 {
    font-size: 48px;
    color: #ffffff;
    font-weight: 800;
    margin: 10px;
}
.registrarse__form {
    display: flex;
    flex-direction: column;
}
.registrarse__label {
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
    font-size: 17px;
}
.registrarse__input {
    width: 22rem;
    height: 3.25rem;
    border: 0;
    border-radius: 1.5rem;
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    opacity: 0.9;
}
.registrarse__input:focus {
    opacity: 1;
}
.registrarse__button--form {
    width: 22rem;
    height: 3.25rem;
    border: 0;
    font-size: 15px;
    border-radius: 1.5rem;
    margin-top: 40px;
    cursor: pointer;
    background-color: #DA9D56;
    font-weight: 600;
    opacity: 0.9;
    transition: 0.3s all;
}
.registrarse__button--form:hover {
    opacity: 1;
}
.registrarse__p {
    margin-top: 20px;
    font-weight: 300;
}
.registrarse__button {
    margin-top: 30px;
    width: 22rem;
    height: 3.25rem;
    font-size: 14px;
    cursor: pointer;
    border: 0;
    border-radius: 1.5rem;
    opacity: 0.9;
    color: white;
    transition: 0.3s all;
}
.registrarse__button:hover {
    opacity: 1;
}
.registrarse__button--facebook {
    background-color: #1B1B1B;
    border: 2px solid #5683DA;
}
.registrarse__button--google {
    background-color: #1B1B1B;
    border: 2px solid #C7B9B9;
}

/* **************************** FOOTER ******************************** */

.footer {
    background: #171717;
    height: 34.5rem;
    width: 100%;
}
.footer__info {
    height: 75%;
    position: relative;
    width: 94%;
    left: 3%;
    display: flex;
    align-items: center;
}
/* ---------------- footer mapa parte 1 ----------------- */
.footer__map {
    width: 33.3%;
    display: flex;
    align-items: center;
    height: 100%;
}
.footer__iframe {
    border-radius: 20px;
    border: 0;
    height: 17.5rem;
    width: 24.3rem;
}
/* ---------------- footer logo parte 2 ----------------- */
.footer__logo {
    width: 33.3%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__img--logo {
    width: 25rem;
}
/* ---------------- footer redes parte 3 ----------------- */
.footer__contacto {
    width: 33.3%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
}
.footer__redes {
    display: flex;
    align-items: center;
}
.footer__a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    margin-left: 6.25rem;
    margin-bottom: 12px;
    color: #ffffff;
    opacity: 0.8;
    text-decoration: none;
    transition: 0.3s all;
}
.footer__a:hover {
    opacity: 1;
}
.footer__img--redes {
    width: 45px;
}
.footer__p--redes {
    margin-top: 8px;
}
.footer__datos {
    width: 24.0625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__h5 {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
}
.footer__p--datos {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300
}
/* ------------------ footer hr divisor  ------------------- */
.footer__hr {
    border: 1px solid #b98060;
    width: 94%;
    position: relative;
    left: 3%;
}
/* ------------------ footer copy parte 4 -------------------- */
.footer__copy {
    text-align: center;
    position: relative;
    top: 15px;
    font-weight: 300;
}
.footer__p1--copy {
    margin: 20px;
}
.footer__p2--copy {
    margin: 20px;
    color: #797979;
}

/* *********************** MEDIA DE 1400px ************************** */

@media (width <= 1400px) {
    /* Main */
    .main__inicio {
        height: 200rem;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    /*  Inicio  */
    /*  Seccion design  */
    .inicio__secDesign {
        height: 25%;
        width: 100%;
    }
    .inicio__title--secDesign {
        justify-content: center;
    }
    .inicio__p--secDesign {
        left: 15%;
    }
    .inicio__reserva {
        align-items: center;
    }
    /*  Seccion Interir  */
    .inicio__secInterior {
        height: 25%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .inicio__img1--secInterior {
        position: relative;
        top: 0px;
        right: 0px;
    }
    .inicio__img2--secInterior {
        display: none;
    }
    /*  Seccion Exterior  */
    .inicio__secExterior {
        height: 25%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .inicio__img1--secExterior {
        bottom: 0px;
        left: 0px;
    }
    .inicio__img2--secExterior {
        display: none;
    }
    /*  Seccion Nosotros  */
    .inicio__secNosotros {
        height: 25%;
        width: 100%;
    }
    .inicio__title--secNosotros {
        left: 0px;
        justify-content: center;
    }
    .inicio__ayuda {
        justify-content: center;
        right: 0px;
    }
    /*  Footer  */
    .footer {
        height: 70rem;
    }
    .footer__info {
        height: 85%;
        flex-direction: column;
    }
    .footer__map {
        width: 100%;
        justify-content: center;
        height: 42%;
    }
    .footer__logo {
        width: 100%;
        height: 18%;
    }
    .footer__contacto {
        width: 100%;
        height: 40%;
        align-items: center;
    }
    .footer__redes {
        justify-content: center;
        width: 31rem;
    }
    .footer__a {
        width: 33.3%;
        margin-left: 0;
        position: relative;
        bottom: 5px;
    }
    .footer__datos {
        position: relative;
        top: 5px;
    }
    .footer__copy {
        top: 30px;
    }
}

/* *********************** MEDIA DE 576px ************************** */

@media (width <= 576px) {
    /*   background inicio   */
    .background__img {
        width: 22rem;
    }
    /*   Footer   */
    .footer {
        height: 60rem;
    }
    .footer__iframe {
        height: 13rem;
        width: 20rem;
    }
    .footer__img--logo {
        width: 18.75rem;
    }
    .footer__redes {
        width: 18.75rem;
    }
}
